@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:wght@300;400;600;700&display=swap');

:root {
  --bckg: #454545;
  --dark: #785964;
  --middle: #d5c7bc;
  --light: #f1fffa;
  --accent: #93b7be;

  --almost-black: #2c2c2c;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  padding: 0;
  background-color: var(--middle);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--light);
  min-height: 100vh;
} */

header {
  background-color: var(--accent);
  backdrop-filter: blur(4px);
  height: 15vh;
  padding: 1em 2em;
}

.wrapper {
  height: 10vh;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: var(--dark);
  font-family: 'Fugaz One', cursive;
}

nav {
  margin-left: auto;
}

nav > * {
  margin-left: 1em;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 0.3em .6em;
  background-color: transparent;
  font-size: 1.25em;
  color: var(--light);
  font-family: 'Fugaz One', cursive;
}

main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

main.no-margin {
  margin: 0;
}

.home-div {
  text-align: center;
  height: 70vh;
  min-width: 100vw;
  padding: 0 .5em;
  display: flex;
  justify-content: center;
}

.home-div h2 {
  font-size: 1.5rem;
  text-shadow: 0 0 2px var(--almost-black);
}

.home-div-text {
  align-self: flex-end;
}

.home-album-link {
  color: var(--light);
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 0 0 2px var(--almost-black);
  opacity: .7;
  position: absolute;
  transform: rotate(-90deg);
  right: -2vw;
  top: 50%;
}

img {
  max-width: 300px;
  border-radius: 5px;
}

.albums-div {
  min-height: 70vh;
  padding: 3em 0;
}

.album-div {
  margin-top: 1em;
}

.login-div,
.sign-up-div {
  text-align: center;
}

.login-div section,
.sign-up-div section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-div form,
.sign-up-div form {
  width: 400px;
}

.login-div form button,
.login-div form input,
.sign-up-div form input,
.sign-up-div form  button {
  width: 300px;
}

.login-div form input,
.sign-up-div form input {
  margin-bottom: 1.5em;
  padding: .25em 0;
}

.login-div form button,
.sign-up-div form button {
  border: 0;
  border-radius: 3px;
  color: var(--light);
  background-color: var(--almost-black);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: .25em 0;
}

.sign-up-div {
  margin-bottom: 1em;
}

.dashboard-div {
  margin: 2em 0;
}

.dashboard-div h1 {
  font-size: 3rem;
  margin: 0;
}

.dashboard-div .heading p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 2em;
}

.review-comp-div {
  margin-bottom: 3em;
}

.review-comp-div:last-child {
  margin-bottom: 0;
}

.review-div {
  max-width: fit-content;
  border-bottom: 2px solid var(--almost-black);
}

.review-div:last-child {
  border-bottom: 0;
}

.review-div h2 {
  margin: 0;
}

.review-div p {
  margin-top: 0;
}

.review-modal,
.edit-review-modal {
  margin-top: 1.25em;
}

.form-container form {
  display: grid;
  grid-template: repeat(3, auto) / 150px 150px;
  row-gap: .5em;
}

.textarea-input {
  grid-area: 1 / 1 / span 1 / -1;
  border: 0;
  border-radius: 3px;
  padding: .5em;
}

.review-rating {
  grid-area: 2 / 1;
}

.review-rating input {
  max-width: 50px;
  border: 0;
  border-radius: 3px;
  padding: .25em;
}

.review-like {
  grid-area: 2 / 2;
  justify-self: center;
}

.edit-btn {
  color: var(--accent);
}

.save-btn {
  background-color: var(--dark);
  grid-area: 3 / 1;
}

.cancel-btn {
  grid-area: 3 / 2;
  justify-self: center;
}

.albums-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  max-width: 1000px;
  padding: 2.5em 0;
}

.album-comp-wrapper {
  margin-top: 2em;
}

.date {
  font-size: .9rem;
}

.user-log-link,
.user-sign-link {
  color: var(--dark);
  font-family: 'Fugaz One', cursive;
}

footer {
  height: 15vh;
  margin-top: auto;
  padding: 1em 0;
  text-align: center;
  background-color: var(--accent);
}

footer a {
  font-size: 1.3rem;
  color: var(--light);
}

footer p {
  font-size: .9rem;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}