footer {
  height: 15vh;
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.05);
}

footer a {
  font-size: 1.3rem;
  color: var(--light);
}

footer p {
  font-size: .9rem;
}