@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d5c7bc;
  font-family: 'Nunito Sans', sans-serif;
  color: #f1fffa;
  min-height: 100vh;
}