@use '../util';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--middle);
  font-family: util.$font;
  color: var(--light);
  min-height: 100vh;
}