a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 0.3em .6em;
  background-color: transparent;
  font-size: 1.25em;
  font-family: 'Fugaz One', cursive;
}

nav {
  margin-left: auto;
}

nav > * {
  margin-left: 1em;
}

img {
  max-width: 300px;
  border-radius: 5px;
}