.home-div {
  text-align: center;
  min-height: 70vh;
  min-width: 100vw;
  padding: 0 .5em;
  display: flex;
  justify-content: center;
}

.home-div h2 {
  font-size: 2rem;
  text-shadow: 0 0 2px #2c2c2c;
}

.home-div-text {
  align-self: flex-end;
  color: var(--light);
}

.home-album-link {
  color: var(--light);
  font-size: 1.1rem;
  font-weight: 600;
  height: 1.7em;
  text-shadow: 0 0 2px #373737;
  opacity: .85;
  position: absolute;
  transform: rotate(-90deg);
  top: 50%;
  bottom: 0;
  right: -3%;
  text-decoration: none;
}

.home-album-link:hover {
  background-color: #454545;
  text-decoration: none;
}